BE/.vs/ShopApi/FileContentIndex/bb23cc3e-9db5-437a-b11f-9f5f19a52f6e.vsidx
BE/.vs/ShopApi/FileContentIndex/1ec4accb-efa4-4270-b7da-a4d071cf571d.vsidx
BE/.vs/ShopApi/DesignTimeBuild/.dtbcache.v2
BE/.vs/ShopApi/v17/.suo
BE/.vs/ShopApi/v17/.futdcache.v2
BE/.vs/ShopApi/config/applicationhost.config
BE/.vs/ProjectEvaluation/shopapi.projects.v9.bin
BE/.vs/ProjectEvaluation/shopapi.strings.v9.bin
BE/.vs/ProjectEvaluation/shopapi.metadata.v9.bin
BE/.vs/ShopApi/FileContentIndex/86c8ca85-210c-4074-999f-6b2664b14ebe.vsidx
BE/.vs/ShopApi/FileContentIndex/b9a9e1a2-ab0f-4444-9051-c3b528e5971e.vsidx
