<div class="app-topstrip bg-dark text-white p-y-10 p-x-20 w-100 d-lg-flex align-items-center justify-content-between">
    <h2 class="f-s-18 m-y-8 text-lg-left text-center">Project</h2>

    <div class="d-flex align-items-center justify-content-center flex-wrap">

        <!-- Support -->
        <button mat-button class="text-white d-none d-lg-flex"  [routerLink]="['/home']" target="_blank">
            <div class="d-flex align-items-center gap-4">
                <i-tabler name="lifebuoy" class="icon-20 d-flex"></i-tabler>
                Home
            </div>
        </button>

        <!-- Templates -->
        <button mat-button class="text-white d-none d-lg-flex" [routerLink]="['/order-history']" target="_blank">
            <div class="d-flex align-items-center gap-4">
                <i-tabler name="gift" class="icon-20 d-flex"></i-tabler>
                Order History
            </div>
        </button>

        <!-- Hire Us -->
        <a mat-button class="text-white d-none d-lg-flex" href="https://www.wrappixel.com/hire-us/" target="_blank">
            <!-- <div class="d-flex align-items-center gap-4">
                <i-tabler name="briefcase" class="icon-20 d-flex"></i-tabler>
                Hire Us
            </div> -->
        </a>

        <!-- Live Preview -->
        <button class="d-flex align-items-center gap-4 text-white b-1 border-primary m-x-10" mat-button
           >
            <!-- <div class="d-flex align-items-center gap-6">
                <i-tabler name="device-laptop" class="icon-20 d-flex"></i-tabler>
                Live Preview
                <i-tabler name="chevron-down" class="icon-20 d-flex"></i-tabler>
            </div> -->
        </button>
      
        

    </div>
</div>